body{
    text-align: center;
    background-color: green;
}
.line{
    height: 10px;
    background: black;
    width: 200px;
    margin: 8px auto;
}
h1{
    font-size: 40px;
    font-family: fantasy;
    font-weight: 200px;
}
#app{
    background: linear-gradient(#cf630a, #f79c52);
}
#chatbot{
    background-color: crimson;
}
#game{
    background-color: lightblue;
}